:root {
	--main-color: rgb(22, 64, 189);
	--main-color-light: rgba(22, 64, 189, 0.2);
	--chrome: rgba(221, 80, 67, 0.2);
	--safari: rgba(0, 211, 249, 0.1);
	--firefox: rgba(255, 102, 17, 0.3);
	--edge: rgba(50, 119, 188, 0.1);
	--explorer: rgba(153, 251, 255, 0.25);
	--samsung: rgba(112, 108, 245, 0.15);
}

body {
	font-family: neue-haas-unica, sans-serif;

	font-style: normal;
	font-weight: 300;
	padding: 0 3vw;
	color: #111;
	font-weight: 400;
	background-color: rgb(240, 237, 237);
	min-height: calc(100vh - 32px);
	max-height: unset;
	position: relative;
	border-radius: 16px;
	font-size: calc(1em + 1vw);
}

h1 {
	font-size: calc(1em + 1vw);
	line-height: 1.5;
}

h2 {
	font-size: calc(1em + 3.5vw);
	line-height: 1.5;
}

h3 {
	font-size: calc(0.5em + 0.5vw);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	line-height: 1.5;
	opacity: 0.5;
}

.header {
	padding-top: 3vw;
	padding-bottom: 3vw;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 40em) {
	.header {
		flex-direction: initial;
	}
}

.footer {
	text-align: center;
	padding: 6vh;
}

#browsers {
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: 1fr;
	display: grid;
	grid-gap: 3vw;
	counter-reset: section;
}

@media screen and (min-width: 40em) {
	#browsers {
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
}

.browser {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	padding: 2rem;
	text-align: center;

	background: #fff;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	border-bottom-right-radius: 0;
	padding: 30px;
	box-sizing: border-box;
	transition: all 0.2s;
}

.hidden {
	display: none;
}

.chrome {
	background-color: var(--chrome);
}

.edge {
	background-color: var(--edge);
}

.firefox {
	background-color: var(--firefox);
}

.safari {
	background-color: var(--safari);
}

.safari-ios {
	background-color: var(--safari);
}

.explorer {
	background-color: var(--explorer);
}

.samsung-internet {
	background-color: var(--samsung);
}

h3 {
	margin: 0;
}

h2 {
	margin: 0;
}

img {
	width: 80px;
	height: 80px;
	margin-bottom: 2vh;
}

@media screen and (min-width: 40em) {
	img {
		width: 128px;
		height: 128px;
	}
}

h2 span {
	/* color: var(--main-color); */
	font-weight: 500;
	/* font-size: 70%; */
}

h1 {
	position: relative;
	margin: 0;
}

h1 span {
	position: relative;
}

h1 span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	background-color: var(--main-color-light);
	transform: skewX(10deg) skewY(-2deg);
	margin: 12px -4px 4px -8px;
	border-radius: 12px;
}

a {
	text-decoration: none;
	position: relative;
	color: var(--main-color);
	font-weight: 700;
}

.header a {
	color: initial;
}

a:hover:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	background-color: var(--main-color-light);
	transform: skewX(10deg) skewY(-2deg);
	margin: 12px -4px 4px -8px;
	border-radius: 12px;
}
/* Filter */
.scroller {
	overflow-x: auto;
	overflow: auto;
	white-space: nowrap;
}

.filter {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	margin-bottom: 2rem;
	padding: 0;
}

.filter li:not(:last-child) {
	margin-right: 2rem;
}

.filter label {
	font-size: 1.25rem;
}

.checkbox {
	display: inline-flex;
	align-items: center;
	position: relative;
}

.checkbox-visible {
	width: 22px;
	height: 22px;

	background: #fff;
	border: 1px solid hsl(0, 0, 60%);
	border-radius: 2px;
	position: absolute;
}

.checkbox input {
	z-index: 1;
	opacity: 0;
	left: 0;
	top: 0;
	position: absolute;
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.checkbox input:checked + .checkbox-visible {
	background: #59cb59;
	border-color: #59cb59;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}
.checkbox input:hover + .checkbox-visible {
	border-color: hsl(0, 0, 80%);
}
.checkbox input:hover:checked + .checkbox-visible {
	border-color: #0ca750;
}
.checkbox input:focus + .checkbox-visible {
	border-color: #59cb59;
}

.checkbox span {
	user-select: none;
	display: inline-flex;
	margin-left: 34px;
}

.checkbox-reset span {
	font-weight: 700;
}

input[type='button'] {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: white;
	background-color: var(--main-color);
}
